*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Gemunu Libre', sans-serif;
}
h1 {
    font-size: 3.5rem;
    margin-bottom: 1em;
}
h4 {
    font-size: 2.1rem;
    margin-bottom: .5em;
}
p {
    font-size: 1.325rem;
}
.app-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    /* height: 100vh; */
}
.app {
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
}
/* rules */
.rules {
    max-width: 300px;
}
/* styles for the table */
.container {
    max-width: 500px;
    margin-bottom: 2em;
}
.row {
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    border-bottom: none;
    display: flex;
}
.row:last-child {
    border-bottom: 1px solid #000;
}
.box {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}
.red {
    background-color: #FF0000;
}
.green {
    background-color: #06b806;
}
.flex + .flex {
    margin-left: 4em;
}
/* end styles for the table */


/* media queries  */
@media (max-width: 980px) {
    .app {
        flex-direction: column;
    }
    .rules {
        max-width: 500px;
    }
    .container {
        margin-top: 2em;
    }
    .flex + .flex {
        margin-left: 0;
    }
}
@media (max-width: 500px) {
    h1 {
        margin-bottom: .5em;
    }
    .box {
        width: 35px;
        height: 35px;
    }
    .row {
        height: 35px;
    } 
    .container {
        max-width: 350px;
    }
}
@media (max-width: 320px) {
    h1 {
        margin: 0;
    }
    .rules {
        max-width: 250px;
    }
    .box {
        width: 25px;
        height: 25px;
    }
    .row {
        height: 25px;
    } 
    .container {
        max-width: 250px;
    }
}